.exclusiveHomeContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.exclusiveHomeLeft{
    width: 45%;
    height: 100%;
}
.exclusiveHomeLeft img{
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.exclusiveHomeRight{
    width: 45%;
    height: 100%;
    flex-direction: column !important;
}
.exclusiveHomeRightContent{
    width: 90%;
    height: 80%;
    margin: 0 auto;
}
.exclusiveHomeRightContent h1{
    font-size: 44px;
    font-weight: 500
}
.exclusiveHomeRightContent1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px 0;
}