.newscarthomeContent{
    width: 80%;
    margin: 0 auto;
}
.newscarthomeContent h1{
    font-size: 35px;
    font-weight: 600;
}
.newscarthomeContent p{
    font-size: 18px;
    color: rgb(161, 160, 160);
    margin-bottom: 30px;
}
.sections{
    width: 100%;
    height: 75%;
}
.swiper {
    width: 80%;
}
.swiper-slide {
    width: 100%;
    font-size: 18px;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}  